/*  chat bubbles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Helvetica', sans-serif;
}
.navbar-inner {
  box-shadow: none;
}
.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  border-top-color: #666;
  border-bottom-color: #666;
}
.navbar .container {
  width: 940px;
}
.navbar-inner {
  padding-left: 0px;
  padding-right: 0px;
}
.dropdown-menu li > a:hover,
.dropdown-menu .active > a,
.dropdown-menu .active > a:hover {
  background-color: #f15b40;
}
.logo img {
  width: 175px;
}
.vine-header {
  padding: 10px 0 20px;
}
.vine-header .vine-main-logo {
  float: left;
}
.vine-header .header-right-link-list {
  float: right;
}
.vine-header .header-right-link-list ul {
  margin: 0;
  list-style: none;
}
.vine-header .header-right-link-list ul li {
  float: left;
  display: block;
  margin-left: 10px;
}
.vine-intro-convo {
  min-height: 510px;
}
footer {
  min-height: 50px;
  padding: 20px 0;
}
footer .footer-content-list {
  list-style: none;
  margin: 0;
}
footer .footer-content-list li {
  float: left;
  margin-right: 10px;
}
.client-logo-list {
  list-style: none;
  margin: 0;
  clear: both;
}
.client-logo-list li {
  float: left;
  padding-right: 10px;
}
.client-logo-list li img {
  max-width: 43px;
  max-height: 50px;
}
.legal-mumbo {
  text-align: justify;
  text-justify: inter-word;
}
.tweet-row {
  margin-bottom: 10px;
}
.vine-container {
  min-height: 400px;
}
.vine-sign-in img {
  width: 136px;
  float: right;
}
#vine-invite-code-input {
  width: 137px;
  float: right;
  margin-bottom: 0;
}
/*  chat bubbles */
.vine-chat-bubble {
  background: orange;
  box-shadow: 5px 5px 10px #ddd;
  clear: both;
  padding: 0 20px;
  position: relative;
  color: #333;
  min-width: 25%;
  text-align: center;
  text-shadow: 0px -1px 0px #ffffff;
  margin-bottom: 25px;
  z-index: 1;
}
.vine-chat-bubble h1,
.vine-chat-bubble h2,
.vine-chat-bubble h3,
.vine-chat-bubble h4 {
  font-weight: 100;
}
.vine-chat-bubble:after {
  content: "";
  position: absolute;
  bottom: -20px;
  /* value = - border-top-width - border-bottom-width */

  border-style: solid;
  display: block;
  width: 0;
  z-index: 0;
  border-width: 20px 20px 0px 0px;
  border-color: orange transparent;
}
.vine-chat-bubble.vine-chat-bubble-left {
  border-radius: 10px 10px 10px 0;
  float: left;
  margin-right: 51px;
}
.vine-chat-bubble.vine-chat-bubble-left:after {
  left: 0px;
  /* controls horizontal position */

  border-width: 20px 20px 0px 0px;
  /* vary these values to change the angle of the vertex */

}
.vine-chat-bubble.vine-chat-bubble-right {
  border-radius: 10px 10px 0px 10px;
  float: right;
  margin-left: 50px;
}
.vine-chat-bubble.vine-chat-bubble-right:after {
  right: 0px;
  /* controls horizontal position */

  border-width: 20px 0px 0px 20px;
  /* vary these values to change the angle of the vertex */

}
.vine-chat-bubble.vine-chat-bubble-compact {
  padding: 10px 25px;
  margin: 0;
  float: none;
  margin-bottom: 20px;
}
.vine-chat-bubble a:link,
.vine-chat-bubble a:hover,
.vine-chat-bubble a:active,
.vine-chat-bubble a:visited {
  color: white;
}
.vine-chat-bubble.chat-blue {
  background-color: #fdc271;
  background-image: -moz-linear-gradient(top, #ffe5c3, #fdc271);
  background-image: -ms-linear-gradient(top, #ffe5c3, #fdc271);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe5c3), to(#fdc271));
  background-image: -webkit-linear-gradient(top, #ffe5c3, #fdc271);
  background-image: -o-linear-gradient(top, #ffe5c3, #fdc271);
  background-image: linear-gradient(top, #ffe5c3, #fdc271);
}
.vine-chat-bubble.chat-blue:after {
  border-color: #FDC271 transparent;
}
.vine-chat-bubble.chat-green {
  background-color: #a9d26e;
  background-image: -moz-linear-gradient(top, #d2e6b3, #a9d26e);
  background-image: -ms-linear-gradient(top, #d2e6b3, #a9d26e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d2e6b3), to(#a9d26e));
  background-image: -webkit-linear-gradient(top, #d2e6b3, #a9d26e);
  background-image: -o-linear-gradient(top, #d2e6b3, #a9d26e);
  background-image: linear-gradient(top, #d2e6b3, #a9d26e);
}
.vine-chat-bubble.chat-green:after {
  border-color: #A9D26E transparent;
}
.vine-chat-bubble.chat-grey {
  background-color: #aaaaaa;
  background-image: -moz-linear-gradient(top, #cccccc, #aaaaaa);
  background-image: -ms-linear-gradient(top, #cccccc, #aaaaaa);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cccccc), to(#aaaaaa));
  background-image: -webkit-linear-gradient(top, #cccccc, #aaaaaa);
  background-image: -o-linear-gradient(top, #cccccc, #aaaaaa);
  background-image: linear-gradient(top, #cccccc, #aaaaaa);
}
.vine-chat-bubble.chat-grey:after {
  border-color: #aaa transparent;
}
.vine-chat-bubble.chat-orange {
  background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
}
.vine-chat-bubble.chat-orange:after {
  border-color: #F89406 transparent;
}
.tip-box {
  background: #CCC;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  color: white;
  border-radius: 5px;
  box-shadow: 6px 6px 10px #DDD;
  margin-bottom: 10px;
  background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
}
.tip-box a:link,
.tip-box a:hover,
.tip-box a:active,
.tip-box a:visited {
  color: white;
}
.right-col-section {
  color: #888;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: ;
  line-height: 25px;
}
