@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 700;
  src: local('Rosario Bold'), local('Rosario-Bold'), url(http://themes.googleusercontent.com/static/fonts/rosario/v6/C6vOqPM2grRKaQTsxWhqnL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Rosario';
  font-style: normal;
  font-weight: 400;
  src: local('Rosario Regular'), local('Rosario-Regular'), url(http://themes.googleusercontent.com/static/fonts/rosario/v6/1czDsfUw1sIxXBq0PGI58ALUuEpTyoUstqEm5AMlJo4.woff) format('woff');
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rosario', sans-serif;
}
.navbar .nav > li > a {
  text-shadow: none;
}
.navbar-inner {
  box-shadow: none;
}
.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  border-top-color: #666;
  border-bottom-color: #666;
}
.navbar .container {
  width: 940px;
}
.navbar-inner {
  padding-left: 0px;
  padding-right: 0px;
}
header {
  height: 50px;
}
header .nav li {
  display: inline-block;
  padding: 10px;
}
header .nav li:first-child {
  padding-left: 0;
}
.wide-band {
  background-color: #cf9;
  padding: 40px 0;
  box-shadow: 0px 6px 12px #ddd;
}
.wide-band button {
  font-family: 'Rosario', sans-serif;
  width: 300px;
  height: 150px;
  border-radius: 0;
  font-size: 2.25em;
  margin-left: 70px;
  margin-bottom: 20px;
}
.wide-band p {
  color: #777777;
}
.user-page .head {
  margin-bottom: 20px;
}
.user-page .user-list li {
  margin-bottom: 10px;
}
footer {
  min-height: 50px;
  padding: 20px 0;
}
