/*  chat bubbles */

.bubble-gradient ( @bottomColor, @topColor)
{
	background-color: @bottomColor;
	background-image: -moz-linear-gradient(top, @topColor, @bottomColor);
	background-image: -ms-linear-gradient(top, @topColor, @bottomColor);
	background-image: -webkit-gradient(linear,0 0,0 100%,from( @topColor),to( @bottomColor));
	background-image: -webkit-linear-gradient(top, @topColor, @bottomColor);
	background-image: -o-linear-gradient(top, @topColor, @bottomColor);
	background-image: linear-gradient(top, @topColor, @bottomColor);
}

.vine-chat-bubble
{
	background: orange;
	box-shadow: 5px 5px 10px #ddd;
	clear:both;
	padding: 0 20px;
	position: relative;
	color: #333;
	min-width: 25%;
	text-align: center;
	text-shadow: 0px -1px 0px #fff;
	margin-bottom: 25px;
	z-index: 1;

	h1,h2,h3,h4
	{
		font-weight: 100;
	}
	&:after
	{
		content:"";
		position:absolute;
		bottom:-20px; /* value = - border-top-width - border-bottom-width */
		border-style:solid;
		display:block; 
		width:0;
		z-index : 0;
		border-width:20px 20px 0px 0px;
		border-color:orange transparent;

		-webkit-filter: drop-shadow(5px 5px 10px #ddd);
		-moz-filter: drop-shadow(5px 5px 10px #ddd);
		-ms-filter: drop-shadow(5px 5px 10px #ddd);
		-o-filter: drop-shadow(5px 5px 10px #ddd);
		filter: drop-shadow(5px 5px 10px #ddd);
	
	}

	&.vine-chat-bubble-left
	{
		border-radius: 10px 10px 10px 0;
		float:left;
		margin-right:51px;
		&:after
		{
			left:0px; /* controls horizontal position */
			border-width:20px 20px 0px 0px; /* vary these values to change the angle of the vertex */
		}
	}
	&.vine-chat-bubble-right
	{
		border-radius: 10px 10px 0px 10px;
		float:right;
		margin-left:50px;
		&:after
		{
			right:0px; /* controls horizontal position */
			border-width:20px 0px 0px 20px; /* vary these values to change the angle of the vertex */
		}
	}

	&.vine-chat-bubble-compact
	{
		padding:10px 25px;
		margin:0;
		float:none;
		margin-bottom:20px;
	}

	a:link,
	a:hover,
	a:active,
	a:visited
	{ color:white; }

	&.chat-blue
	{
		.bubble-gradient(#FDC271,#FFE5C3);
		&:after{ border-color:#FDC271 transparent; } 
	}
	&.chat-green
	{
		.bubble-gradient(#A9D26E,#D2E6B3);
		&:after{ border-color:#A9D26E transparent; } 
	}
	&.chat-grey
	{
		.bubble-gradient(#AAA,#CCC);
		&:after{ border-color:#aaa transparent; } 
	}
	&.chat-orange
	{
		.bubble-gradient(#F89406,#FBB450);
		&:after{ border-color:#F89406 transparent; } 
	}
}