body {
	background:@coffin_color;
	background: -webkit-linear-gradient(0deg, #fff, @brandPrimaryColor);
}


h1,h2,h3,h4,h5,h6 {
	font-family:'Helvetica', sans-serif;
	font-weight: 100;
}

p {
	color: #777;
}

.hero-unit{ background: transparent; }

.primary-container
{
	background: white;
	width:100%;
	box-shadow: 0 0 30px;
	min-height: 350px;
	padding: 20px 0;
	position: relative;
	z-index: 10;
}

.vine-intro-convo
{
	min-height:350px;
	padding: 10px 0;
	height:350px;
	overflow: hidden;
	position: relative;
}

#bubble-0,
#bubble-1,
#bubble-2,
#bubble-3,
#bubble-4,
#bubble-5
{
	position: absolute
}


#bubble-0 {
	top:0px;
	left:0px;	
}
#bubble-1 {
	display:none;
	top:89px;
	left:60px;	
}
#bubble-2 {
	display:none;
	top:50px;
	left:488px;	
}
#bubble-3 {
	display:none;
	top:130px;
	left:477px;	
}
#bubble-4 {
	display:none;
	top:190px;
	left:46px;	
}
#bubble-5 {
	display:none;
	top:250px;
	left:300px;	
}



.client-logo-list
{
	list-style:none;
	margin:0;
	clear:both;

	li
	{
		float:left;
		padding-right: 10px;
		img
		{
			max-width:43px;
			max-height:50px;
		}
	}
}


.legal-mumbo
{
	text-align:justify;
	text-justify:inter-word;
}



#vine-invite-code-input
{
	width: 137px;
	float: right;
	margin-bottom:0;
}



.tip-box
{
	background: #CCC;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	color: white;
	border-radius: 5px;
	box-shadow: 6px 6px 10px #DDD;
	margin-bottom: 10px;
	.bubble-gradient(#F89406,#FBB450);
	a:link,
	a:hover,
	a:active,
	a:visited
	{ color:white; }
}


.right-col-section
{
	color:#888;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-size:;
	line-height:25px;
}

.page-section-header
{
	margin-top:20px;
	height: 65px;
	h1 {
		float:left;
		font-size:25px;
		font-weight:100;
	}

	img {
		float:left;
		height:25px;
		margin-right:10px;
	}
}

/* flash */

.flash-container
{
	color: rgba(0,0,0,0.5);
	position: relative;
	top: -20px;
	padding: 10px 0 5px;

	.close {
		float:left;
	}

	ul {
		padding-left:50px;
	}
}

.invite-container
{
	input {
		font-size: 2em;
		height: 2em;
		width: 300px;
	}
}

input.create_account
{
	height: 1.25em;
	font-size: 2em;
	width: 321px;
}

input.create_account_go
{
	width:321px;
}

.vine-form
{
	margin-left: 20px;
	width: 321px;
	position: relative;
	input {
		width: 100%;
		height: 1.25em;
		font-size: 2em;
		display:block;
	}
}


