@coffin_color: lighten(@brandPrimaryColor,40%);

.navbar-inner{ box-shadow : none }
.navbar .nav li.dropdown .dropdown-toggle .caret, .navbar .nav li.dropdown.open .caret
{
	border-top-color: #666;
	border-bottom-color: #666;
}
.navbar .container{ width: 940px }
.navbar-inner {
	padding-left: 0px;
	padding-right: 0px;
}
.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover
{background-color: @brandPrimaryColor}


.logo img{
	width: 175px;
}

footer {
	a:link,a:visited,a:active {
		color: rgba(0,0,0,0.5);
	}
}

.vine-header
{

	.container { position: relative; }

	.header-banner
	{
		position: absolute;
		right: 0;
		background: orange;
		line-height: 2em;
		padding: 20px;
		top: 0;
		min-height: 75px;
		text-align: justify;
		//box-shadow: 6px 5px 10px #333;
		width:300px;
		z-index: 20;

		a {
			text-shadow: 0px 0px 2px white;
		}

		p {
			color:maroon;
			line-height:16px; 
			font-size: 1.1em;
		}

		input {
			background: lighten(orange,25%);
		}
		
		h2 {
			text-shadow: 0px -1px 3px black;
		}
		
		&:after {
			content: "";
			position: absolute;
			bottom: -15px;
			left: 0px;
			border-width: 15px 0 0 340px;
			border-style: solid;
			border-color: orange transparent;
			display: block;
			width: 0;
			//-webkit-filter: drop-shadow( 6px 5px 10px #333);
		}

		.center-text{ text-align: center; }

		.list-request
		{
			margin-bottom: 10px;
		}

	}

	.user-greeting
	{
		text-align: right;
		position: absolute;
		top: 76px;
		right: 0;

		.username
		{
			margin-bottom: 27px;
			font-size: 5em;
			font-weight: bold;
			color: white;
			opacity: 0.35;
		}
		.actions
		{
			font-size: 1.25em;
			
			a
			{
			    padding-right: 6px;
			    color: #387331;
			}
		}
	}

	.vine-main-logo
	{
		padding: 40px 0;
	}

	.header-right-link-list
	{
		float:right;
		ul {
			margin:0;
			list-style: none;

			li {
				float:left;
				display:block;
				margin-left:10px;
			}
		}
	}

	.list-request-container
	{
		.hidden-form
		{
			display:none;
		}
		input {
			height:1.3em;
			font-size: 1.3em;
		}
	}
}