.vine-intro-convo
{
	width:940px !important;
	min-height:350px;
	padding: 10px 0;
	height:350px;
	overflow: hidden;
	position: relative;
}
.vine-intro-convo.invite-container
{
	min-height:401px;
	height:401px;
}

#bubble-0,
#bubble-1,
#bubble-2,
#bubble-3,
#bubble-4,
#bubble-5,
#bubble-6
{
	position: absolute
}

#bubble-0 {
	top:15px;
	right:520px;
}
#bubble-1 {
	display:none;
	top:91px;
	left:430px;	
}
#bubble-2 {
	display:none;
	top:138px;
	right:520px;
}
#bubble-3 {
	display:none;
	top:185px;
	left:430px;	
}
#bubble-4 {
	display:none;
	top:232px;
	right:520px;
}
#bubble-5 {
	display:none;
	top:279px;
	left:430px;	
}
#bubble-6 {
	display:none;
	top:326px;
	left:58px;	
}
