<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <script type="text/javascript">
            if (document.domain != 'dev.vine.im') {
                var _sf_startpt=(new Date()).getTime()
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-35419245-1']);
                _gaq.push(['_trackPageview']);
                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            }
        </script>
        <title>{% block title %}Dashdash{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/dashdash.css" />
    </head>
    <body>
        <header>
            <div class='dashdash-header'>
                <div class='container'>
                    <div class='dashdash-main-logo'>
                        <a href="/"><img src='/static/img/logo.png'/></a>
                    </div>
                    {% if user %}
                        <div class='user-greeting'>
                            <div class='signed-in'>You are signed in as <span class='username'>{{ user }}</span>. <a href='{{ url_for('logout') }}'>Logout?</a></div>
                            <div class='actions'>
                                <a href='{{ url_for('index') }}'>Invites</a>
                                <a href='{{ url_for('contacts') }}'>Contacts</a>
                                <a href='{{ url_for('settings') }}'>Settings</a>
                                <a href='{{ url_for('help') }}'>Help</a>
                            </div>
                        </div>
                    {% endif %}
                </div> <!-- container -->
            </div>
        </header>
        <div class="primary-container">
            {% with success_messages = get_flashed_messages(category_filter=['success']) %}
            {% with failure_messages = get_flashed_messages(category_filter=['failure']) %}
            {% with invite_error_messages = get_flashed_messages(category_filter=['invite_error']) %}
                <div class='container'>
                    <div class='row'>
                        <div class='span8'>
                            {% block left_column scoped %}{% endblock %}
                        </div>
                        <div class='span4'>
                            <div class='right-col-section'>
                                {% if success_messages or failure_messages %}
                                    <div class='flash-container container'>
                                        <button class="close">&times;</button>
                                        <ul class='unstyled'>
                                            {% for message in success_messages %}
                                                <li><b><i class="icon-ok-sign"></i> {{ message }}</b></li>
                                            {% endfor -%}
                                            {% for message in failure_messages %}
                                                <li><b><i class="icon-exclamation-sign"></i> {{ message }}</b></li>
                                            {% endfor -%}
                                        </ul>
                                    </div>
                                {% endif %}
                                {% block right_column scoped %}
                                    {% if user %}
                                        <p>Dashdash works with existing XMPP/Jabber apps.<br/>If you're lost, <a href="mailto:lost-and-found@dashdashinc.com">email us</a>! Or visit <a href='{{ url_for('help') }}'>getting started</a>.</p>
                                        <ul class='client-logo-list'>
                                            <li><a href='https://itunes.apple.com/us/app/im+-instant-messenger/id285688934"'><img src='/static/img/client_logos/im-plus.png' /></a></li>  
                                            <li><a href='https://itunes.apple.com/us/app/imo-messenger/id336435697'><img src='/static/img/client_logos/imo.png' /></a></li>
                                            <li><a href='http://adium.im/'><img src='/static/img/client_logos/adium.png' /></a></li>
                                            <li><a href='https://www.apple.com/osx/apps/#messages'><img src='/static/img/client_logos/messages.png' /></a></li>
                                            <li><a href='http://xmpp.org/xmpp-software/clients/'><img src='/static/img/client_logos/xmpp.png' /></a></li>
                                            <li><a href='http://xmpp.org/xmpp-software/clients/'><img src='/static/img/client_logos/jabber.png' /></a></li>
                                        </ul>
                                        <ul class='client-name-list'>
                                            <li>iPhone/iPad: <a href="https://itunes.apple.com/us/app/im+-instant-messenger/id285688934">IM+</a>, <a href="https://itunes.apple.com/us/app/imo-messenger/id336435697">imo</a></li>
                                            <li>Mac: <a href='http://adium.im/' target='blank'>Adium</a>, <a href='https://www.apple.com/osx/apps/#messages'>Messages/iChat</a></li>
                                            <li>Web: <a href='https://imo.im/' target='blank'>imo.im</a></li>
                                            <li>Windows: <a href='http://www.pidgin.im/' target='blank'>Pidgin</a></li>
                                        </ul>
                                    {% endif %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endwith %}
            {% endwith %}
            {% endwith %}
        </div>
        <footer>
            <div class='container footer-links'>
                <ul class='footer-content-list'>
                    <li><a href='{{ url_for('about') }}'>about</a></li>
                    <li><a href='{{ url_for('terms') }}'>terms of service</a></li>
                    <li><a href='{{ url_for('privacy') }}'>privacy policy</a></li>
                    <li>&copy; 2013 Dashdash, Inc.</li>
                </ul>
            </div>
        </footer>
        <script type="text/javascript" src="/static/js/jquery.js" ></script>
        <script type="text/javascript" src="/static/js/jquery-ui.js" ></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="/static/js/home.js" ></script>
        {% block script scoped %}{% endblock %}
        <script type="text/javascript">
            if (document.domain != 'dev.vine.im') {
                var _sf_async_config = { uid: 2156, domain: 'dashdash.com' };
                (function() {
                    function loadChartbeat() {
                        window._sf_endpt = (new Date()).getTime();
                        var e = document.createElement('script');
                        e.setAttribute('language', 'javascript');
                        e.setAttribute('type', 'text/javascript');
                        e.setAttribute('src',
                            (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
                            "js/chartbeat.js");
                        document.body.appendChild(e);
                    };
                    var oldonload = window.onload;
                    window.onload = (typeof window.onload != 'function') ?
                        loadChartbeat : function() { oldonload(); loadChartbeat(); };
                })();
            }
        </script>
    </body>
</html>
