<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <script type="text/javascript">
            if (document.domain != 'dev.vine.im') {
                var _sf_startpt=(new Date()).getTime()
                var _gaq = _gaq || [];
                _gaq.push(['_setAccount', 'UA-35419245-1']);
                _gaq.push(['_trackPageview']);
                (function() {
                    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
                })();
            }
        </script>
        <title>{% block title %}Vine.IM{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="/static/css/vine.css" />
    </head>
    <body>
        <header>
            <div class='vine-header'>
                <div class='container'>
                <div class='vine-main-logo'>
                    <a href="/"><img src='/static/img/logo.png' width='320px'/></a>
                </div>
                {% if user %}
                    <div class='user-greeting'>
                        <div class='username'>{{ user }}</div>
                        <div class='actions'>
                            <a href='{{ url_for('contacts') }}'>contacts</a>
                            <a href='{{ url_for('settings') }}'>settings</a>
                            <a href='{{ url_for('logout') }}'>logout</a>
                        </div>
                    </div>
                {% else %}
                    <div class='header-banner'>
                        <p class='description'>Vine works with Adium, Pidgin, Messages, imo.im, and many other XMPP/Jabber clients (Gchat coming soon!)</p>
                        <div class='center-text'>
                            <p><i><b>Vine is in private alpha</b></i></p>
                            <div class='list-request-container'>
                                <a href='#' class='list-request btn btn-mini'><i class="icon-envelope"></i> Want to know when we launch?</a>
                                <div class='hidden-form'>
                                    <input id='list-request-email' type='text' placeholder='enter your email'/>
                                    <a href='#' class='cancel-request'><button class="close">&times;</button></a>                            
                                </div>
                            </div>
                            <p><i><b>Already have an account?</b></i></p>
                            <a class='vine-sign-in' href="{{ url_for('login') }}"><img src='/static/img/sign-in-with-twitter-d.png' /></a>
                        </div>
                    </div>
                {% endif %}
                </div> <!-- container -->
            </div>
        </header>
        <div class="primary-container">
            {% with success_messages = get_flashed_messages(category_filter=['success']) %}
            {% with failure_messages = get_flashed_messages(category_filter=['failure']) %}
            {% with invite_error_messages = get_flashed_messages(category_filter=['invite_error']) %}
                <div class='container'>
                    {% if success_messages %}
                        <div class='flash-container'>
                            <div class='container'>
                                <button class="close">&times;</button>
                                <ul>
                                    {% for message in success_messages %}
                                        <li><b>{{ message }}</b></li>
                                    {% endfor -%}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% if failure_messages %}
                        <div class='flash-container'>
                            <div class='container'>
                                <button class="close">&times;</button>
                                <ul>
                                    {% for message in failure_messages %}
                                        <li><b>{{ message }}</b></li>
                                    {% endfor -%}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                    {% block body scoped %}{% endblock %}
                </div>
            {% endwith %}    
            {% endwith %}
            {% endwith %}
        </div>
        <footer>
            <div class='container footer-links'>
                <ul class='footer-content-list'>
                    <li><a href='{{ url_for('about') }}'>about</a></li>
                    <li><a href='{{ url_for('legal') }}'>legal</a></li>
                    <li>&copy; 2012 Vine</li>
                </ul>
            </div>
        </footer>
        <script type="text/javascript" src="/static/js/jquery.js" ></script>
        <script type="text/javascript" src="/static/js/jquery-ui.js" ></script>
        <script type="text/javascript" src="/static/js/bootstrap.min.js" ></script>
        <script type="text/javascript" src="/static/js/home.js" ></script>
        {% block script scoped %}{% endblock %}
        <script type="text/javascript">
            if (document.domain != 'dev.vine.im') {
                var _sf_async_config = { uid: 2156, domain: 'vine.im' };
                (function() {
                    function loadChartbeat() {
                        window._sf_endpt = (new Date()).getTime();
                        var e = document.createElement('script');
                        e.setAttribute('language', 'javascript');
                        e.setAttribute('type', 'text/javascript');
                        e.setAttribute('src',
                            (("https:" == document.location.protocol) ? "https://a248.e.akamai.net/chartbeat.download.akamai.com/102508/" : "http://static.chartbeat.com/") +
                            "js/chartbeat.js");
                        document.body.appendChild(e);
                    };
                    var oldonload = window.onload;
                    window.onload = (typeof window.onload != 'function') ?
                        loadChartbeat : function() { oldonload(); loadChartbeat(); };
                })();
            }
        </script>
    </body>
</html>
