{% extends "base.html" %}
{% block body %}
    <div class='row'>
        <div class='span12'>
            <div class="vine-chat-bubble vine-chat-bubble-left chat-green">
                <h1>Password</h1>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='span8'>
            <form action="{{ url_for('change_password') }}" method=post>
                <legend>Change Password</legend>
                <div class='row'>
                    <div class='span8'>
                        Note that when you change your password here, you'll also need to change it in all of the chat clients with which you sign in.
                    </div>
                </div>
                {{ form.hidden_tag() }}
                <label><b>password</b></label>
                {{ form.password }}
                <label><b>retype password</b></label>
                {{ form.confirm }}
                <input class='btn btn-info' type="submit" value="reset">
            </form>
        </div>
    </div>
{% endblock %}
