{% extends "base.html" %}
{% block left_column %}
    <div class="page-header">
        <h1>settings</h1>
    </div>
    <form action="{{ url_for('change_password') }}" method=post class='vine-form'>
        <legend>Change XMPP/Jabber Password</legend>
        <p>
            When you change your password here, you'll also need to change it in all of the chat clients you use.
        </p>
        <p>
            If you prefer, you can change your password from the account settings menu in most clients.
        </p>
        <p>
            (This website uses Twitter to sign in, so you don't need to use the password to sign in here.)
        </p>
        {{ form.hidden_tag() }}
        <label><b>password</b></label>
        {{ form.password }}
        <label><b>confirm password</b></label>
        {{ form.confirm }}
        <input class='btn btn-success' type="submit" value="Save">
    </form>    
    <a href='{{ url_for('settings') }}'><b>Change your email address?</b></a>
{% endblock %}
