{% extends "base.html" %}
{% block left_column %}
    <div class="page-section-header">
        <h1>contacts</h1>
    </div>
    <p>
        Vine.IM manages your contacts so you don't have to. An algorithm aggregates who you chat with most and updates your buddy list accordingly, but if it ever messes up, tell us at <a href="mailto:stupid-algorithm@vine-inc.im">stupid-algorithm@vine-inc.im</a>.
    </p>
    <div class='well'>
        {% if friends %}
            <p><i>These users can see what conversations you're having, and you can see theirs.</i></p>
            <ul class='unstyled'>
                {% for friend in friends %}
                    <li><i class='icon-user'></i> {{ friend }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if outgoings %}
            <p><i>You can see when these users are online, but you can't see each other's conversations.</i></p>
            <ul class='unstyled'>
                {% for outgoing in outgoings %}
                    <li><i class='icon-eye-close'></i> {{ outgoing }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if incomings %}
            <p><i>These users can see when you're online, but you can't see each other's conversations.</i></p>
            <ul class='unstyled'>
                {% for incoming in incomings %}
                    <li><i class='icon-eye-close'></i> {{ incoming }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if not friends and not outgoings and not incomings %}
            <p><i class='icon-time'></i> Determining your contacts. Check back soon!</p>
        {% endif %}
    </div>
{% endblock %}
