{% extends "base.html" %}
{% block title %}Vine.IM - Demo{% endblock %}
{% block body %}
    <div class='row'>
        <div class='span4'>
             <a id='login_button' class='btn btn-success vine-chat-bubble-compact' onClick='tryLogin();' style='width:100%;text-align:center;padding:0'><h2>Launch Demo</h2></a>
             <p>
                 <strong>Make sure popups are enabled, and then send someone a message!</strong>
             </p>
             <p>
                 This demo uses an <a href="http://stefan-strigler.de/jwchat/">open-source</a>, web-based chat client that opens your buddy list in a new window. (It's not perfect, but because Vine is built on XMPP, it works out-of-the-box.)</p>
             <p>
                 If you prefer a desktop client such as <a href="http://adium.im/">Adium</a> or <a href="http://www.pidgin.im/">Pidgin</a>, add a new XMPP/Jabber account and sign in with "{{ username }}@{{ server }}" and password "{{ password }}".
             </p>
             </p>
                 For an overview of the basic features, watch this screencast (at 720p in full screen mode).
             <p>
        </div>
        <div class='span8'>
            <iframe width="620" height="349" src="https://www.youtube.com/embed/JDsQEMaWjz8?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script src="/static/jwchat/browsercheck.js" language="JavaScript1.2"></script>
    <script src="/static/jwchat/jwchat/shared.js" language="JavaScript1.2"></script>
    <script language="JavaScript">
        var jid, pass, register, prio, connect_host, connect_port, connect_secure;
        var jwchats = new Array();
        /* start config */
        var SITENAME = "{{ server }}";
        var BACKENDS = [{
                             name:"Native Binding",
                             description:"Ejabberd's native HTTP Binding backend",
                             httpbase:"https://xmpp." + SITENAME + ":5281/http-bind/",
                             type:"binding",
                             servers_allowed:[SITENAME]
                         },
                         {
                             name:"Native Polling",
                             description:"Ejabberd's native HTTP Polling backend",
                             httpbase:"https://xmpp." + SITENAME + ":5281/http-poll/",
                             type:"polling",
                             servers_allowed:[SITENAME]
                         }];
        var DEFAULTRESOURCE = "jwchat";
        var DEFAULTPRIORITY = "10";
        /* default values for joingroupchat form */
        var DEFAULTCONFERENCEROOM = "talks";
        var DEFAULTCONFERENCESERVER = "conference."+SITENAME;
        /* debugging options */
        var DEBUG = false; // turn debugging on
        var DEBUG_LVL = 2; // debug-level 0..4 (4 = very noisy)
        var USE_DEBUGJID = false; // if true only DEBUGJID gets the debugger
        var DEBUGJID = "admin@"+SITENAME; // which user get's debug messages
        /* most probably you don't want to change these */
        var timerval = 2000; // poll frequency in msec
        var stylesheet = "/static/jwchat/jwchat.css";
        var THEMESDIR = "themes";
        /* end config */
        var GUEST_ACC = "{{ username }}";
        var GUEST_PWD = "{{ password }}";
        var JABBERSERVER;
        var HTTPBASE;
        var BACKEND_TYPE;
        function tryLogin() {
            if (typeof(GUEST_ACC) == 'undefined' || GUEST_ACC.length == 0) {
                // Ignore
            } else {
                jid = GUEST_ACC + "@" + JABBERSERVER + "/" + DEFAULTRESOURCE + Math.round(Math.random()*1000);
                pass = GUEST_PWD;
                register = false;
                prio = DEFAULTPRIORITY;
                connect_secure = false;
                jwchats[jid] = window.open("/static/jwchat/jwchat.html",makeWindowName(jid),'width=320,height=390,resizable=yes');
                return true;
            }
            return false;
        }
        function init() {
            var servers_allowed = BACKENDS[0].servers_allowed,
                default_server = BACKENDS[0].default_server;
            HTTPBASE = BACKENDS[0].httpbase;
            BACKEND_TYPE = BACKENDS[0].type;
            JABBERSERVER = servers_allowed[0];
        }
        onload = init;
    </script>
{% endblock %}
