{% extends "base.html" %}
{% block title %}Dashdash - Demo{% endblock %}
{% block left_column %}
    <iframe width="620" height="349" src="https://www.youtube.com/embed/JDsQEMaWjz8?rel=0" frameborder="0" allowfullscreen></iframe>
{% endblock %}
{% block right_column %}
     <a id='login_button' class='btn btn-success dashdash-chat-bubble-compact' onClick='tryLogin();' style='text-align:center;padding:5px 0px; width: 100%; margin-bottom: 12px;'><h2>Launch Demo</h2></a>
     <p>
         <strong>Make sure popups are enabled, and then send someone a message!</strong>
     </p>
     <p>
         This demo uses an <a href="http://stefan-strigler.de/jwchat/">open-source</a>, web-based chat client that opens your buddy list in a new window. (It's not perfect, but because Dashdash is built on XMPP, it works out-of-the-box.)</p>
     <p>
         If you prefer a desktop client such as <a href="http://adium.im/">Adium</a> or <a href="http://www.pidgin.im/">Pidgin</a>, add a new XMPP/Jabber account and sign in with "{{ username }}@{{ server }}" and password "{{ password }}".
     </p>
     <p>
         For an overview of the basic features, watch this screencast (at 720p in full screen mode).
     </p>
{% endblock %}
{% block header_banner %}{% endblock %}
{% block script %}
    <script src="/static/jwchat/config.js" language="JavaScript1.2"></script>
    <script src="/static/jwchat/browsercheck.js" language="JavaScript1.2"></script>
    <script src="/static/jwchat/shared.js" language="JavaScript1.2"></script>
    <script language="JavaScript">
        var jid, pass, register, prio, connect_host, connect_port, connect_secure;
        var jwchats = new Array();
        var JABBERSERVER;
        var HTTPBASE;
        var BACKEND_TYPE;
        var GUEST_ACC = "{{ username}}";
        var GUEST_PWD = "{{ password }}";
        function tryLogin() {
            if (typeof(GUEST_ACC) == 'undefined' || GUEST_ACC.length == 0) {
                // Ignore
            } else {
                jid = GUEST_ACC + "@" + JABBERSERVER + "/" + DEFAULTRESOURCE + Math.round(Math.random()*1000);
                pass = GUEST_PWD;
                register = false;
                prio = DEFAULTPRIORITY;
                connect_secure = false;
                jwchats[jid] = window.open("/static/jwchat/jwchat.html",makeWindowName(jid),'width=320,height=390,resizable=yes');
                return true;
            }
            return false;
        }
        function init() {
            var servers_allowed = BACKENDS[0].servers_allowed,
                default_server = BACKENDS[0].default_server;
            HTTPBASE = BACKENDS[0].httpbase;
            BACKEND_TYPE = BACKENDS[0].type;
            JABBERSERVER = servers_allowed[0];
        }
        onload = init;
    </script>
{% endblock %}
