{% extends "base.html" %}
{% block one_column %}
    <div class='instructions clearfix'>
        <div class='welcome'>
            <div class='page-section-header'>
                <h1>
                    welcome to Dashdash!
                </h1>
            </div>
            <div class='row'>
                <div class='span8 last'>
                    <p>
                        Dashdash is similar to chat services like Gchat and AIM, but manages your contact list for you:
                    </p>
                    <ol>
                        <li>
                            People you've talked with before, that signed up using the same invitation, or that you follow on Twitter will automatically appear in your <span class='ui-name'>Dashdash Contacts</span> group in your contact list.
                        </li>
                        <li>
                            If you and a friend both appear in each other's contact list, then their active conversations will appear in your <span class='ui-name'>Dashdash Conversations</span> group. You can join these conversations by sending a message to them, just like you might walk up to a group of friends in real life.
                        </li>
                    </ol>
                    <p>
                        Dashdash works with existing XMPP/Jabber chat client apps – pick one below to get started!
                    </p>
                </div>
            </div>
        </div>
        <div class='setup'>
            <div class='page-section-header'>
                <h1>
                    set up {% if client == 'adium'    %}<span class='selected'>Adium</span>{%          else %}<a href='{{ url_for('help', client='adium')    }}'>Adium</a>{%          endif
                     %} or {% if client == 'messages' %}<span class='selected'>Messages/iChat</span>{% else %}<a href='{{ url_for('help', client='messages') }}'>Messages/iChat</a>{% endif
                     %} or {% if client == 'pidgin'   %}<span class='selected'>Pidgin</span>{%         else %}<a href='{{ url_for('help', client='pidgin')   }}'>Pidgin</a>{%         endif
                     %} or {% if client == 'implus'   %}<span class='selected'>IM+</span>{%            else %}<a href='{{ url_for('help', client='implus')   }}'>IM+</a>{%            endif
                     %} or {% if client == 'other'    %}<span class='selected'>something else</span>{% else %}<a href='{{ url_for('help', client='other')    }}'>something else</a>{% endif
                     %}
                </h1>
            </div>
            <ol class='span12 last' id='{{ client }}'>
                {% if client == 'adium' %}
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                If you have a Mac, download Adium from <a href='http://adium.im/' target='_blank'>http://adium.im/</a>.
                            </p>
                            <p>
                                Open the .dmg and drag Adium into your <span class='ui-name'>Applications</span> folder.
                            </p>
                            <p>
                                Open the <span class='ui-name'>Applications</span> folder, and launch Adium from there.
                            </p>
                            <p>
                                (Adium may ask for access to your contacts – this can be handy, but it's fine to click <span class='ui-name'>Don't Allow</span> if you prefer.)
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/adium/adium_1_dmg.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                The first time you open Adium you'll see a <span class='ui-name'>Setup Assistant</span>. We're going to assume you closed it, but you can <span class='ui-name'>Continue</span> through if you prefer.
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/adium/adium_2_assistant.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Instead, open the <span class='ui-name'>Preferences</span> panel either by pressing <span class='ui-name'>⌘,</span> or by selecting it from the <span class='ui-name'>Adium</span> menu.
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/adium/adium_3_preferences.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Click the <span class='ui-name'>+</span> button in the lower left corner of the <span class='ui-name'>Accounts</span> pane in the <span class='ui-name'>Preferences</span> window, and select <span class='ui-name'>XMPP</span>.
                            </p>
                            <p>
                                (XMPP is the new name for Jabber, and they are used interchangeably.)
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/adium/adium_6_xmpp.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Enter {{ user }}@{{ domain }} as your username, enter the password you chose when you signed up for Dashdash, and then click <span class='ui-name'>OK</span>.
                            </p>
                            <p>
                                WHATEVER YOU DO, do not click the <span class='ui-name'>Register New Account</span> button – <a href='http://youtu.be/dddAi8FF3F4' target='_blank'>it's a trap!</a> Click <span class='ui-name'>OK</span> instead.
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/adium/adium_7_credentials.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Your Dashdash account will connect automatically, and you can close the <span class='ui-name'>Preferences</span> window.
                            </p>
                            <p>
                                Then find your <span class='ui-name'>Contacts List</span> window, which should already be open.
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/adium/adium_8_accounts.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Look for the <span class='ui-name'>Dashdash Contacts</span> and <span class='ui-name'>Dashdash Conversations</span> buddy list groups.
                            </p>
                            <p>
                                Adium hides empty contact groups by default, so if they're not there it's only because no one is online or chatting. You can customize what Adium hides from the <span class='ui-name'>View</span> menu.
                            </p>
                            <p>
                                If you're lucky, the first time you sign in a friendly chat bot named @{{ helpbot }} will say hello. Otherwise, send someone a message!
                            </p>
                        </div>
                        <div class='span8 last'>
                             <img src='/static/img/setup/adium/adium_9a_contacts.png'>
                             <span>or</span>
                             <img src='/static/img/setup/adium/adium_9b_contacts.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Adium-only pro tip: you can get a Growl notification whenever there's a new conversations that you can see!
                            </p>
                            <p>
                                First, right click on the group header bar for <span class='ui-name'>Dashdash Conversations</span> in your contact list.
                            </p>
                            <p>
                                Then, select the third tab (with the alarm bell icon), and double-click on the event titled <span class='ui-name'>Contact is seen</span>.
                            </p>
                            <p>
                                Select the notification type you want, and you're done!
                            </p>
                        </div>
                        <div class='span8 last'>
                            <img src='/static/img/setup/adium/adium_10_protip.png'>
                        </div>
                    </li>
                {% elif client == 'messages' %}
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Messages, which used to be called iChat, comes with Mac OS X and should already be installed on your computer.
                             </p>
                             <p>
                                Look in your <span class='ui-name'>Applications</span> folder for something that looks like this <i class='icon-hand-right'></i>
                            </p>
                        </div>
                        <div class='span8 last'>
                             <img src='/static/img/setup/messages/messages_1_finder.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                If this is the first time you've used Messages, you'll be prompted to set up iMessage.
                            </p>
                            <p>
                                It's fine to <span class='ui-name'>Skip</span> that for now, and it will send you next to the account creation screen.
                            </p>
                        </div>
                        <div class='span8 last'>
                             <img src='/static/img/setup/messages/messages_2_imessage.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                If you've used Messages before, then open the <span class='ui-name'>Preferences</span> panel either by pressing <span class='ui-name'>⌘,</span> or by selecting it from the <span class='ui-name'>Messages</span> menu.
                            </p>
                        </div>
                        <div class='span8 last'>
                             <img src='/static/img/setup/messages/messages_3_preferences.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Select the <span class='ui-name'>Accounts</span> tab, and then click the <span class='ui-name'>+</span> button in the lower left corner of the window.
                            </p>
                        </div>
                        <div class='span8 last'>
                             <img src='/static/img/setup/messages/messages_4_preferences.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Select <span class='ui-name'>Jabber</span> as the <span class='ui-name'>Account Type</span> from the dropdown list.
                            </p>
                            <p>
                                (Jabber is the old name for XMPP, and they are used interchangeably.)
                            </p>
                        </div>
                        <div class='span8 last'>
                             <img src='/static/img/setup/messages/messages_5_jabber.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Enter {{ user }}@{{ domain }} as your username, enter the password you chose when you signed up for Dashdash, and then click <span class='ui-name'>Sign In</span>.
                            </p>
                            <p>
                                (You can leave the <span class='ui-name'>Server Options</span> as their defaults.)
                            </p>
                        </div>
                        <div class='span8 last'>
                             <img src='/static/img/setup/messages/messages_6_account.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                You might get a <span class='ui-name'>Non-secure Jabber Login</span> error message, and you can just click <span class='ui-name'>Continue</span>.
                            </p>
                            <p>
                                (I think this happens because the password itself is not separately encrypted, but all the connections use SSL so it should be sufficiently secure.)
                            </p>
                        </div>
                        <div class='span8 last'>
                             <img src='/static/img/setup/messages/messages_7_login.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Now that you're signed in, look for a second Messages window that says <span class='ui-name'>Buddies</span> at the top.
                            </p>
                            <p>
                                If you don't see it, open it either by pressing <span class='ui-name'>⌘1</span> or by selecting it from the <span class='ui-name'>Window</span> menu.
                            </p>
                        </div>
                        <div class='span8 last'>
                             <img src='/static/img/setup/messages/messages_8_buddies.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Look for the <span class='ui-name'>Dashdash Contacts</span> and <span class='ui-name'>Dashdash Conversations</span> buddy list groups.
                            </p>
                            <p>
                                Messages hides empty buddy groups, so if they're not there it's only because no one is online or chatting. Don't worry and check back later!
                            </p>
                            <p>
                                If you're lucky, the first time you sign in a friendly chat bot named @{{ helpbot }} will say hello.
                            </p>
                        </div>
                        <div class='span8 last'>
                             <img src='/static/img/setup/messages/messages_9a_contacts.png'>
                             <span>or</span>
                             <img src='/static/img/setup/messages/messages_9b_contacts.png'>
                        </div>
                    </li>
                {% elif client == 'pidgin' %}
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                If you use Windows, download Pidgin from <a href='http://pidgin.im/' target='_blank'>http://pidgin.im/</a>.
                            </p>
                            <p>
                                Find the installer in your <span class='ui-name'>Downloads</span> folder (or wherever you decided to save it), and launch it to start the <span class='ui-name inline-images'>Setup Wizard <img src='/static/img/setup/pidgin/pidgin_1a_wizard.ico'></span>.
                            </p>
                            <p>
                                (You may need to give Pidgin permission to make changes to your computer. Pidgin is an established open-source project, so if you prefer you can read and compile <a href='http://hg.pidgin.im/pidgin/main/file/ad7e7fb98db3' target='_blank'>the source</a> yourself...)
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/pidgin/pidgin_1b_wizard.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                The <span class='ui-name inline-images'>Setup Wizard</span> defaults will work fine, so keep clicking <span class='ui-name inline-images'>Next ></span> until the installation is complete.
                            </p>
                            <p>
                                After Pidgin is installed, launch the program from the <span class='ui-name'>Start Menu</span>.
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/pidgin/pidgin_2_launch.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                The first time you launch Pidgin, you'll see the <span class='ui-name'>Accounts</span> window. Click <span class='ui-name'>Add...</span> to add a new account, but if you accidentally close this window, then...
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/pidgin/pidgin_3_add.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                ... you can always open it again by clicking <span class='ui-name'>Accounts</span> -> <span class='ui-name'>Manage Accounts</span> in your <span class='ui-name'>Buddy List</span> window, or by pressing <span class='ui-name'>Ctrl+A</span>.
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/pidgin/pidgin_4_manage.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Select <span class='ui-name'>XMPP</span> from the dropdown list as the <span class='ui-name'>Protocol</span> for your Dashdash account.
                            </p>
                            <p>
                                (XMPP is the new name for Jabber, and they are used interchangeably.)
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/pidgin/pidgin_5_xmpp.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Enter {{ user }}@{{ domain }} as your username, enter the password you chose when you signed up for Dashdash, and then click <span class='ui-name'>Add</span>.
                            </p>
                            <p>
                                You can optionally specify a <span class='ui-name'>Resource</span> for this connection, and you can leave all of the other settings as their defaults. 
                            </p>
                            <p>
                                You may also want to have Pidgin <span class='ui-name'>Remember password</span>, but do not <span class='ui-name'>Create this new account on the server</span> – your Dashdash account was created when you signed up on this website, and now you're just using it to sign in.
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/pidgin/pidgin_6_credentials.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Your Dashdash account will connect automatically, and you can <span class='ui-name'>Close</span> the <span class='ui-name'>Accounts</span> window.
                            </p>
                            <p>
                                Then find your <span class='ui-name'>Buddy List</span> window again, which should still be open.
                            </p>
                        </div>
                        <div class='span8'>
                            <img src='/static/img/setup/pidgin/pidgin_7_accounts.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Look for the <span class='ui-name'>Dashdash Contacts</span> and <span class='ui-name'>Dashdash Conversations</span> buddy groups.
                            </p>
                            <p>
                                Pidgin hides empty buddy groups by default, so if they're not there it's only because no one is online or chatting. You can see these groups by clicking the <span class='ui-name'>Buddies</span> menu and then selecting <span class='ui-name'>Show</span> -> <span class='ui-name'>Empty Groups</span>.
                            </p>
                            <p>
                                If you're lucky, the first time you sign in a friendly chat bot named @{{ helpbot }} will say hello. Otherwise, send someone a message!
                            </p>
                        </div>
                        <div class='span8 last'>
                             <img src='/static/img/setup/pidgin/pidgin_8a_contacts.png'>
                             <span>or</span>
                             <img src='/static/img/setup/pidgin/pidgin_8b_contacts.png'>
                        </div>
                    </li>
                {% elif client == 'implus' %}
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                If you have an iPhone or iPad, download the free <a href='https://itunes.apple.com/us/app/im+-instant-messenger/id285688934?mt=8/' target='_blank'>IM+ app from Apple</a>.
                            </p>
                            <p>
                                When you launch it the first time, you might be asked if you want to sync with iCloud, but it's fine to skip that for now.
                            </p>
                            <p>
                                Also, these screenshots were taken with the <span class='ui-name'>Disable Ads</span> in-app purchase, but Dashdash works either way. If you're willing to pay for an XMPP iPhone app, then <a href='https://itunes.apple.com/us/app/im+-pro/id296246130?mt=8' target='_blank'>IM+ Pro</a> and <a href='https://itunes.apple.com/us/app/jabberb-beejiveim-for-jabber/id467182237?mt=8' target='_blank'>JabberB</a> also work well.
                            </p>
                        </div>
                        <div class='span8'>
                            <a href='https://itunes.apple.com/us/app/im+-instant-messenger/id285688934?mt=8/' target='_blank'><img src='/static/img/setup/implus/implus_1_store.png'></a>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                You should now see the <span class='ui-name'>Accounts</span> tab, but if not, then select it from the bottom of the screen, and then tap <span class='ui-name'>+ Add new account</span>.
                            </p>
                        </div>
                        <div class='span8'>
                            <img class='iphone' src='/static/img/setup/implus/implus_2_accounts.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                You should see a list of messaging services. Scroll to the bottom of the list, and then tap <span class='ui-name'>More services</span>.
                            </p>
                        </div>
                        <div class='span8'>
                            <img class='iphone' src='/static/img/setup/implus/implus_3a_add.png'>
                            <div>...scroll...</div>
                            <img class='iphone' src='/static/img/setup/implus/implus_3b_more.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Scroll <i>again</i> until you can select <span class='ui-name'>Jabber</span>, which should be the fifth from the bottom of the expanded list.
                            </p>
                            <p>
                                (Jabber is the old name for XMPP, and they are used interchangeably.)
                            </p>
                        </div>
                        <div class='span8'>
                            <img class='iphone' src='/static/img/setup/implus/implus_4_jabber.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Enter {{ user }}@{{ domain }} as your <span class='ui-name'>Login</span>, enter the password you chose when you signed up for Dashdash, and then click <span class='ui-name'>Done</span> in the upper right corner.
                            </p>
                            <p>
                                You can leave the optional <span class='ui-name'>Screen Name</span> blank, and the <span class='ui-name'>Advanced</span> settings as their defaults.
                            </p>
                        </div>
                        <div class='span8'>
                            <img class='iphone' src='/static/img/setup/implus/implus_5_credentials.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Your Dashdash account will connect automatically, so you can now switch from the <span class='ui-name'>Accounts</span> tab to the <span class='ui-name'>Contacts</span> tab.
                            </p>
                        </div>
                        <div class='span8'>
                            <img class='iphone' src='/static/img/setup/implus/implus_6_online.png'>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4'>
                            <p>
                                Look for the <span class='ui-name'>Dashdash Contacts</span> and <span class='ui-name'>Dashdash Conversations</span> groups in the <span class='ui-name'>Contacts</span> tab.
                            </p>
                            <p>
                                To hide offline contacts or otherwise customize IM+, look in the <span class='ui-name'>View</span> menu of the <span class='ui-name'>More</span> tab.
                            </p>
                            <p>
                                If you're lucky, the first time you sign in a friendly chat bot named @{{ helpbot }} will say hello. Otherwise, send someone a message!
                            </p>
                        </div>
                        <div class='span8 last'>
                             <img class='iphone' src='/static/img/setup/implus/implus_7a_contacts.png'>
                             <div>or</div>
                             <img class='iphone' src='/static/img/setup/implus/implus_7b_contacts.png'>
                        </div>
                    </li>
                {% else %}
                    <li class='row'>
                        <div class='span4 last'>
                            <p>
                                Download, install, and launch one of the following apps, or another XMPP/Jabber client of your choice.
                            </p>
                            <ul class='inline-images'>
                                <li>Mac: <a href='http://adium.im/' target='_blank'>Adium <img src='/static/img/client_logos/adium.png'></a>, <a href='https://www.apple.com/osx/apps/#messages'>Messages/iChat <img src='/static/img/client_logos/messages.png'></a></li>
                                <li>Windows: <a href='http://www.pidgin.im/' target='_blank'>Pidgin <img src='/static/img/client_logos/pidgin.png'></a></li>
                                <li>iOS: <a href='https://itunes.apple.com/us/app/im+-instant-messenger/id285688934' target='blank'>IM+ <img src='/static/img/client_logos/im-plus.png'></a></li>
                                <li>Web: <a href='http://imo.im/' target='_blank'>imo.im <img src='/static/img/client_logos/imo.png'></a></li>
                            </ul>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4 last'>
                            <p>
                                Add your Dashdash account, and sign in!
                            </p>
                            <p class='inline-images'>
                                Chat clients often support many different services, so look for either XMPP <img src='/static/img/client_logos/xmpp.png'> or Jabber <img src='/static/img/client_logos/jabber.png'>.
                            </p>
                            <p>
                                Enter {{ user }}@{{ domain }} as your username, and then enter the password you chose when you signed up for Dashdash.
                            </p>
                        </div>
                    </li>
                    <li class='row'>
                        <div class='span4 last'>
                            <p>
                                Find the <span class='ui-name'>Dashdash Contacts</span> and <span class='ui-name'>Dashdash Conversations</span> groups in your contact list and send someone a message!
                            </p>
                            <p>
                                Many clients hide empty contact groups, so if they're not there it's only because no one is online or chatting. Don't worry and check back later!
                            </p>
                            <p>
                                If you're lucky, the first time you sign in a friendly chat bot named @{{ helpbot }} will say hello.
                            </p>
                        </div>
                    </li>
                {% endif %}
                <li class='row'>
                    <div class='span4'>
                        <p>
                            For an overview of the basic features, watch this screencast .gif{% if not client == 'adium' %} from <a href='http://adium.im/' target='_blank'>Adium</a>, a desktop client for Mac OS X{% endif %}.
                        </p>
                        <p>    
                            You can also watch this slightly out-of-date <a href='http://youtu.be/JDsQEMaWjz8' target='_blank'>screencast video</a>.
                        </p>
                        <p>
                            Feel free to <a href='mailto:lost-and-found@dashdashinc.com'>email us</a>, or ping @lehrblogger if you need help.
                        </p>
                    </div>
                    <div class='span8 last'>
                        <div class='help screencast'></div>
                    </div>
                </li>
                <li class='row'>
                    <div class='span4'>
                        <p>
                            Most clients support many different chat services, so feel free to also add your Gchat, AIM, and other instant messaging accounts. You can use Dashdash right alongside them.
                        </p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
