{% extends "base.html" %}
{% block left_column %}
    <div class='page-section-header'>
        <h1>help</h1>
    </div>
    <p>
        For an overview of the basic features, watch the below Adium screencast .gif or this (slightly out-of-date) <a href="https://www.youtube.com/watch?feature=player_embedded&v=JDsQEMaWjz8">screencast video</a>.
    </p>
    <div class='help screencast'></div>
    <div class='page-section-header'>
        <a name='adium'></a><h1>adium setup</h1>
    </div>
    <ol class=''>
        <li>
            <p>Download and install the Adium client from <a href='http://adium.im/' target='blank'>http://adium.im/</a></p>
        </li>
        <li>
            <p>Open Adium, go to the Adium menu in the upper left corner of the screen, and select Preferences.</p>
            <p>Click the Accounts tab and then click the '+' in the lower left-hand corner of the window to add an account. From the dropdown list, choose "XMPP".</p>
            <img src='/static/img/setup/adium/preference-window.png'/>
        </li>
        <li>
            <p>Enter {{ user }}@dashdash.com in the Jabber ID field and your password in the Password field. If you don't remember your password, you can <a href="{{ url_for('change_password') }}">change it here</a>.</p>
            <p>Click "OK" in the lower right corner of the window, and <em>not</em> "Register New Account".</p>
            <img src='/static/img/setup/adium/account-details.png'/>
        </li>
        <li>
            <p>You should automatically land back at the Accounts window and, if everything went well, your newly created account should come online.</p>
            <img src='/static/img/setup/adium/account-ok.png'/>
        </li>
        <li>
            <p>Close the Accounts window, look for the "Dashdash Contacts" and "Dashdash Conversations" groups in your buddy list, and start chatting!</p>
        </li>
    </ol>
{% endblock %}
{% block right_column %}
<div class='page-section-header'>
    <h1>getting started</h1>
</div>
<div class='instructions'>
    <ol>
        <li>
            <p>
                <strong>Download a chat client app</strong>
            </p>
            <ul class='client-logo-list'>
                <li><a href='https://itunes.apple.com/us/app/im+-instant-messenger/id285688934"'></a></li>  
                <li><a href='https://itunes.apple.com/us/app/imo-messenger/id336435697'></a></li>
                <li><a href='http://adium.im/'></a></li>
                <li><a href='https://www.apple.com/osx/apps/#messages'></a></li>
                <li><a href='http://xmpp.org/xmpp-software/clients/'></a></li>
                <li><a href='http://xmpp.org/xmpp-software/clients/'></a></li>
            </ul>
            <ul>
                <li>Mac: <a href='http://adium.im/' target='blank'>Adium <img src='/static/img/client_logos/adium.png' /></a>, <a href='https://www.apple.com/osx/apps/#messages'>Messages/iChat <img src='/static/img/client_logos/messages.png' /></a></li>
                <li>Windows: <a href='http://www.pidgin.im/' target='blank'>Pidgin <img src='/static/img/client_logos/pidgin.png' /></a></li>
                <li>iOS: <a href="https://itunes.apple.com/us/app/im+-instant-messenger/id285688934">IM+ <img src='/static/img/client_logos/im-plus.png' /></a></li>
                <li>Web: <a href='https://imo.im/' target='blank'>imo.im <img src='/static/img/client_logos/imo.png' /></a></li>
            </ul>
        </li>
        <li>
            <p>
                <strong>Add your Dashdash account</strong>
            </p>
            <p>
                Chat clients often support many different services, so look for either XMPP <img src='/static/img/client_logos/xmpp.png' /> or Jabber <img src='/static/img/client_logos/jabber.png' />.
            </p>
            <p>
                Use {{ user }}@{{ domain }} as your username, and use the password you chose when you signed up for Dashdash.</li>
            </p>
        <li>
            <p>
                <strong>Sign in</strong>
            </p>
            <p>
                Find the Dashdash groups in your contact list (they might be hidden if no one is online), and send someone a message!
            </p>
            <p>
                If you're lucky, the first time you sign in a friendly chat bot named @{{ helpbot }} will say hello.
            </p>
        </li>
        <li>
            <p>
                <strong>Enjoy!</strong>
            </p>
            <p>
                Feel free to <a href="mailto:lost-and-found@dashdashinc.com">email us</a>, or ping @lehrblogger if you need help.
            </p>
        </li>
    </ol>    
</div>
{% endblock %}


