{% extends "base.html" %}
{% block body %}
    {% if user %}
        <p>Hello, {{ user }}! <a href="{{ url_for('logout') }}">Log out</a></p>
        {% if unused_invites %}
            <p>Unused invite codes:</p>
            <ul>
                {% for invite in unused_invites %}
                    <li>{{ url_for('invite', code=invite.code) }}</li>
                {% endfor %}
            </ul>
            <p>Each invite code only works once, so send them privately to the friends you chat with most on IM.</p>
        {% else %}
            You don't have any invitations to send out right now.
        {% endif %}
        {% if used_invites %}
            <p>Used invite codes:</p>
            <ul>
                {% for invite in used_invites %}
                    <li>{{ url_for('invite', code=invite.code) }} | <strong>{{ invite[1] }}</strong> | {{ invite.used }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if tweets %}
            <ul>
                {% for tweet in tweets %}
                    <li><strong>{{ tweet.user.screen_name }}</strong>: {{ tweet.text }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% else %}


		<div class="wide-band">
			<div class='container'>

				<div class='row'>
					<div class='span6'>
						<h1>We're in private alpha!</h1>
						<p>This should be more graphic. Slideshow or maybe an animation?</p>
				        <p>
							Direct trade american apparel id, nostrud sartorial cred skateboard fap ut laboris thundercats godard locavore next level mumblecore. Qui yr next level, hoodie fanny pack vinyl retro cillum mixtape high life fixie tofu vice vegan. 3 wolf moon typewriter bicycle rights, art party small batch retro sartorial photo booth pickled sustainable vinyl tofu ex occupy. Tattooed kogi laborum id, nisi sunt fanny pack vice aliquip high life anim forage lomo semiotics. Hella farm-to-table tempor, you probably haven't heard of them banksy nostrud godard four loko vegan biodiesel. Yr typewriter et odio etsy. Whatever banh mi nihil, shoreditch echo park forage seitan pour-over occaecat vice fanny pack thundercats cillum.
						</p>
					</div>
					<div class='span6'>
						<a class='btn btn-warning sign-in' href="{{ url_for('login') }}">Sign In With Twitter</a>
						<div style='text-align:right; font-size:0.9em'><a href='#'>Want to know when we launch?</a></div>
					</div>
				</div>

			</div>
		</div>

    {% endif %}
{% endblock %}
