{% extends "base.html" %}
{% block body %}
    <div class='row invite-content'>
        <div class='span4'>
            <div class='vine-chat-bubble vine-chat-bubble-right chat-green'><h2>Alpha Sign Up</h2></div>
        </div>
        <div class='span4'>
            <p>Vine.IM offers a more social instant messaging experience within the chat clients you already know and love.</p>
            <p>Sign up if you want to know when we launch!</p>
            <div class='control-group'>
                <form>
                    <input class='span4 email-address' type="text" name="entry.0.single" id="entry_0" placeholder='your email address'>
                    <input class='btn btn-success' type="submit" name="submit" value="Submit">
                </form>
            </div><!-- control group -->
         </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        $(function() {
            $('form').submit(function()
            {
                if( isEmail($(this).find('#entry_0').val()) )
                {
                    $.ajax({
                        type: 'POST',
                        url: 'https://docs.google.com/spreadsheet/formResponse?formkey=dEduRlNBODVMMjBqZE8xdmZTYWc3aHc6MQ&amp;embedded=true&amp;ifq',
                        data: {
                          'entry.0.single': $(this).find('#entry_0').val(), 
                          //password: $(this).password.value
                        }
                    });
                    $(this).fadeOut(1000,function(){
                        $('.control-group').removeClass('error').html('<h3>Thank you!</h3>');
                    });
                }
                else
                {
                    $('.control-group').addClass('error');
                }
                return false;
            }); 
        });
        function isEmail(email)
        {
            var regex = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            return regex.test(email);
        }
    </script>
{% endblock %}
