{% extends "base.html" %}
{% block body %}
    {% if invite_error_messages %}
        <h2><i>{{ invite_error_messages[0] }}</i></h2>
        <form class='invite-container' action='{{ url_for('check_invite') }}' method=post>
            {{ form.hidden_tag() }}
            {{ form.code }}
            {{ form.submit }}
        </form>
    {% else %}
        <div class='vine-container'>
            <div class='page-section-header'>
                <img src='/static/img/bubble-right-orange.png'>
                <h1>You've been invited by <b>{{ sender }}</b>!</h1>
            </div>
            <div class='row'>
                <div class='well span8'>
                    <p>Now all that's left is for you to sign in with Twitter by clicking the button below!</p>
                    <a href="{{ url_for('login') }}"><img src='/static/img/sign-in-with-twitter-gray.png' /></a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
