{% extends "base.html" %}
{% block left_column %}
    <div class="page-header">
        <h1>Privacy Policy</h1>
    </div>
    <div class="legal-body">
        <p>
            Vine.IM is a chat/instant messaging product that lets users socialize online more like they do in the real world. Registered users (“users”) can have synchronous text-based conversations with other users, and users who are not participants in those conversations can see that they are happening and optionally join them.
        </p>
        <ol>
            <li>
                <p>
                    Vine.IM (“Vine”, “we”, “us”, “our”) uses technologies like cookies (small files stored on your browser), web beacons, or unique device identifiers to identify your computer or device so we can deliver a better experience. Our systems also log information like your browser, operating system and IP address.
                </p>
                <p>
                    We collect personally identifiable information that you provide to us, such as your name, address, phone number or email address. You can sign into your account to see any personally identifiable information we have stored, such as your name, address, email or phone number. You can also contact us by email to request to see or delete this information.
                </p>
                <p>
                    With your permission, we may also access other personal information on your device, such as your phone book, calendar or messages, in order to provide services to you. If authorized by you, we may also access profile and other information from services like Twitter and Facebook.
                </p>
                <p>
                    We collect information about your activities in using our services (such as who you converse with, messages you send, pages you view or things you click on). Our systems associate your personal information with your activities, and we may keep data indefinitely, so that you can browse your past activity, and so that we can enhance the services we offer you.
                </p>
            </li>
            <li>
                <p>
                    We do not knowingly contact or collect personal information from children under 13. If you believe we have inadvertently collected such information, please contact us so we can promptly obtain parental consent or remove the information.
                </p>
                <p>
                    We do not use or collect your precise geographic location.
                </p>
                <p>
                    We do not currently allow advertising companies to collect data through our service for ad targeting.
                </p>
            </li>
            <li>
                <p>
                    We generally do not share your personally identifiable information (such as name, address, email or phone) with third parties without your express consent. However, we may make personally identifiable information available to third parties in these limited circumstances: (1) when we have a good faith belief it is required by law, (2) when we have a good faith belief it is necessary to protect our rights or property, or (3) to any successor or purchaser in a merger, acquisition, liquidation, dissolution or sale of assets. Your consent will not be required for disclosure in these cases, but we will attempt to notify you, to the extent permitted by law to do so.
                </p>
                <p>
                    In order to serve you, we may share your personal and anonymous information with third parties, including our vendors and contractors. Their use of information is limited to helping us to serve you, and subject to agreements that require them to keep the information confidential. Our vendors and contractors provide assurance that they take reasonable steps to safeguard the data they hold on our behalf, although data security cannot be guaranteed.
                </p>
                <p>
                    Analytics companies may access anonymous data (such as your IP address or device ID) to help us understand how our services are used. They use this data solely on our behalf. They do not share it except in aggregate form; no data is shared as to any individual user.
                </p>
            </li>
            <li>
                <p>
                    Information we collect may be stored or processed on computers located in any country.
                </p>
                <p>
                    We take reasonable administrative, physical and electronic measures designed to safeguard and protect your information from unauthorized access or disclosure. This includes utilizing Secure Sockets Layer (SSL) software, which encrypts the personal information you input and transmit to us. However, no security or encryption method can be guaranteed to protect information from hackers or human error.
                </p>
            </li>
            <li>
                <p>
                    This privacy policy was last updated on 21 January 2013. Our privacy policy may change from time to time. If we make any material changes to our policies, we will place a prominent notice on our website or application. If the change materially affects registered users, we will send a notice to you by email. If you have any questions or concerns about our privacy policies, please contact us at <a href="mailto:privacy@vine-inc.im">privacy@vine-inc.im</a>.
                </p>
            </li>
        </ol>
    </div>
{% endblock %}
{% block right_column %}{% endblock %}
{% block header_banner %}{% endblock %}
