{% extends "base.html" %}
{% block left_column %}
    <div class='screencast'></div>
{% endblock %}
{% block right_column %}
    <div class='intro'>
        <div class='buttons'>
            <p><strong>You must sign in to visit this page!</strong></p>
            <p>Don't worry, Dashdash won't tweet from your account unless you ask us to, we hate that too.</p>
            {% include "snippets/twitter.html" %}
            {% include "snippets/subscribe.html" %}
        </div>
   </div>
{% endblock %}

