.fade_in (@initial_opacity, @animation_time) {
    opacity: @initial_opacity;
    transition: opacity @animation_time;
    -moz-transition: opacity @animation_time; /* Firefox 4 */
    -webkit-transition: opacity @animation_time; /* Safari and Chrome */
    -o-transition: opacity @animation_time; /* Opera */
}

#who-we-are {
    min-height: 310px;
    position: relative;
    .photo {
        width: 193px;
        float: left;
        & + .photo {
            margin-left: 20px;
        }
        img {
            margin: 3px 0 20px 0;
            .fade_in(0.5, 1s);
        }
        .bio {
            position: absolute;
            left: 0px;
            min-height: 150px;
            margin: 0px;
            display: none;
            .fade_in(0, 1s);
        }
        &:hover {
            img {
                .fade_in(1, 0.5s);
            }
            .bio {
                display: block;
                .fade_in(1, 0.5s);
            }
        }
    }
}

.trademark {
    font-size: 11px;
    line-height: 0px;
    vertical-align: baseline;
    top: -2px;
    position: relative;
}

.questions {
    font-size: 14px;
    font-weight: 500;
}
.btn.follow {
    width: 152px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 6px;
    font-weight: 600;
    color: #333;
    background-image: none;
    &:visited {
        color: #888;
        background-color: #eee;
    }
}