body {
	background:@brandPrimaryColor;
	background: -webkit-linear-gradient(0deg, #fff, @brandPrimaryColor);
}


h1,h2,h3,h4,h5,h6 {
	font-family:'Helvetica', sans-serif;
	font-weight: 100;
}

p {
	color: #777;
	text-align: justify;
}
p.centered {
  text-align: center;
}

.hero-unit{ background: transparent; }

.primary-container
{
	background: white;
	width:100%;
	box-shadow: 0 0 30px;
	min-height: 375px;
	padding: 20px 0;
	position: relative;
	z-index: 10;
}

.client-logo-list
{
	list-style:none;
	margin:0;
	clear:both;
	li
	{
		float:left;
		padding-right: 9px;
		img
		{
			max-width:43px;
			max-height:43px;
		}
	}
}

.client-name-list
{
	padding-top: 56px;
}

.legal-body
{
	text-align:justify;
	text-justify:inter-word;
	li li {
	  list-style-type:lower-alpha;
	}
}

.right-col-section
{
	color:#888;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-size:;
	line-height:25px;
}

.page-section-header, .page-header {
    height: 45px;
	h1 {
	    height: 25px;
	    line-height: 25px;
		float:left;
		font-size:25px;
		font-weight:100;
        padding-left: 55px;
        background: url('/static/img/bubble-right-orange.png') no-repeat 0 1px;
        background-size: 45px; 
	}
}
.page-header {
    margin-top: 0px;
    padding-bottom: 0px;
}

input.create_account
{
	height: 2em;
	font-size: 1.25em;
	width: 321px;
	margin-bottom: 0px;
}

input.create_account_go
{
	width:321px;
}

.dashdash-form
{
	width: 321px;
	position: relative;
	input {
		width: 100%;
		height: 2em;
		font-size: 1.25em;
		display:block;
	}
}

legend {
    margin-bottom: 4px;
    border: none;
}
