.instructions .page-section-header {
    padding-bottom: 30px;
    ul {
        margin-left: 0px;
        li {
            display: inline;
            list-style-type: none;
            &.ui-state-focus a {
                outline-style: none;
            }
            &.ui-state-active a {
                color: @brandSecondaryColor;
                cursor: text;
            }
        }
    }
}

.instructions ol {
    padding-top: 198px;
    margin-top:-198px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}

.instructions ol > li {
    font-size: 22px;
    color: @brandTertiaryColor;
    margin: 0 0 40px 15px;
    p, ul {
        font-size: 14px;
        color: @brandTertiaryColor;
        span.ui-name {
            font-weight: 500;
        }
    }
    .span4 {
        margin-top: -21px;
        width: 290px;
        margin-left: -5px;
        .inline-images img {
            height: 18px;
            margin: -5px 0 0 1px;
            display: inline;
        }
    }
    .span8 {
        overflow: visible;
        margin-top: -18px;
        text-align: center;
        text-size: 22px;
        img {
            float: left;
            .box-shadow(0 0 16px rgba(0,0,0,.5));
            background-color: rgba(0,0,0,.15);
        }
        img + span + img {
            float: right;
        }
        span {
            display: inline-block;
            padding-top: 36%;
        }
        .screencast {
            width: 640px;
        }
    }
}

.clearfix:after { 
    content: " ";
    display: block; 
    height: 0; 
    clear: both;
}
