.intro {
    color: #888;
    padding-bottom: 20px;
    line-height: 2em;
    text-align: justify;
    p {
        color: @brandTertiaryColor;
        line-height: 20px;
        font-size: 1.1em;
    }

    .description {
        margin-bottom: 29px;
    }

    .list-request-container {
        margin-bottom: 35px;
        .btn-mini {
            i {
                background-position-y: 1px;
            }
            font-family: @sansFontFamily;
            font-weight: 500;
            line-height: 22px;
            font-size: 13px;
        }
        .hidden-form {
            display: none;
            margin-top: 15px;
        }
        input {
            .placeholder(@brandTertiaryColor);
            color: @brandTertiaryColor;
            height: 28px;
            width: 219px;
            font-size: 1.1em;
            margin-bottom: 0px
        }
        p {
            margin-bottom: 44px;
        }
        .cancel-request {
            .close {
                color: @brandTertiaryColor;
                opacity: 1.0;
            }
            margin: 3px 0 0 5px;
            position: absolute;
        }
    }
    .buttons {
        text-align: center;
        margin-bottom: 22px;
    }
}

.table {
    font-size: 13px;
    text-align: left;
    th {
        color: #777;
        font-weight: normal;
        padding-bottom: 13px;
    }
    td {
        padding-right: 15px;
    }
}
