.invite-container {
    p {
        color: @brandTertiaryColor;
        line-height: 20px;
        font-size: 1.1em;
    }
    .invite-form {
        text-align: center;
        form {
            display: inline;
        }
        input {
            .placeholder(@brandTertiaryColor);
            color: @brandTertiaryColor;
            height: 28px;
            font-size: 1.1em;
            width: 158px;
            margin-top: 2px;
        }    
    }
}