
@brandPrimaryColor : rgba(80,166,70,1);
@brandSecondaryColor : rgba(206,230,191,1);

@dashdashGreen: lighten(@brandPrimaryColor,10%);
@dashdashOrange: orange;
@dashdashBlue: #39F;
@dashdashGrey: #AAA;

.placeholder(@color: #ccc) {
	input::-webkit-input-placeholder { color: @color; }
	input:-moz-placeholder { color: @color; }
	textarea::-webkit-input-placeholder { color: @color; }
	textarea:-moz-placeholder { color: @color; }
}
